Repository trieb-work/zoho-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

.lintstagedrc:

{
  "**.{ts,tsx}": ["yarn prettier --write", "yarn eslint --fix"],
  "**.{json,md,mdx,css,html,js}": ["yarn prettier --write"]
}

feat: Package total_quantity field
  src/types/package.ts
Due: yarn prettier --write, yarn eslint --fix

Notes added by 'git notes add'
  d69aeb7cefae0aedfa3bb12eada5b565cba9fd04
Due: none

fix: ading new payment mode
  src/types/payment.ts
Due: yarn prettier --write, yarn eslint --fix

fix: package upgrades
  package.json
  pnpm-lock.yaml
Due: yarn prettier --write

fix: just security level high
  .github/workflows/release.yml
Due: none

ci: fix pnpm version
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  51946ec7006c780ae4050101dca34e632a12dafe
Due: none
