Repository trieb-work/zoho-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

.lintstagedrc:

{
  "**.{ts,tsx}": ["yarn prettier --write", "yarn eslint --fix"],
  "**.{json,md,mdx,css,html,js}": ["yarn prettier --write"]
}

docs: adding docs
  package.json
Due: yarn prettier --write

Adding custom error handling in docs
  README.md
Due: yarn prettier --write

docs: fixing zoho docs
  README.md
Due: yarn prettier --write

feat: making the apiFlavour selectable
  README.md
  package.json
  src/client/client.test.ts
  src/client/client.ts
  src/service/bankaccount.ts
Due: yarn prettier --write, yarn eslint --fix

Adding npm badge
  README.md
Due: yarn prettier --write

feat: more intuitive scope selection by default
  package.json
  src/client/client.ts
Due: yarn prettier --write, yarn eslint --fix

types: fixing date in payment list response
  package.json
  src/types/payment.ts
Due: yarn prettier --write, yarn eslint --fix

feat: adding limit to packages
  package.json
  src/service/package.ts
Due: yarn prettier --write, yarn eslint --fix

fix: has more pages
  package.json
  src/service/package.ts
Due: yarn prettier --write, yarn eslint --fix

feat: SalesOrder statuses enhanced. Added typings for paid_status field
  src/types/salesOrder.ts
Due: yarn prettier --write, yarn eslint --fix

0.6.5
  package.json
Due: yarn prettier --write

ci: adding semantic-release package
  package.json
  pnpm-lock.yaml
Due: yarn prettier --write

fix: adapt to new types
  src/client/client.ts
Due: yarn prettier --write, yarn eslint --fix

ci: adding semantic release action
  .github/workflows/release.yml
Due: none

fix: full version upgrades
  package.json
  pnpm-lock.yaml
Due: yarn prettier --write

ci: pnpm setup
  .github/workflows/release.yml
Due: none

ci: change order
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  aed01ffc5c2649d5bb9962eb36f3a2d30c4a57d4
Due: none

chore: ignore patterns to reflect tsconfig
  .eslintrc.js
Due: yarn prettier --write

fix: version bumps
  package.json
  pnpm-lock.yaml
Due: yarn prettier --write

Notes added by 'git notes add'
  80b1fd6180453efc1189bfc8d80286823b02215d
Due: none

version bump
  package.json
Due: yarn prettier --write

Update package.json
  package.json
Due: yarn prettier --write

Notes added by 'git notes add'
  c91add9935ebb1979fa5890d8c02dc4e279cc75b
Due: none

fix: version reset, versions maintained by smeantic release
  package.json
Due: yarn prettier --write

Notes added by 'git notes add'
  1272329ae7b0877a80c256fc26083a365aa3a4dd
Due: none

chore: adding releaserc json
  .releaserc.json
Due: yarn prettier --write

fix: docs and trigger release
  README.md
Due: yarn prettier --write

Notes added by 'git notes add'
  c636823e9a1d431c95530cd8525242ffd1c63f94
Due: none

fix: make sure, package is build before release
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  79d1a99ee243ea407eff3fa52e0152ff0be5f51e
Due: none

type: adding vendor type
  src/types/contact.ts
Due: yarn prettier --write, yarn eslint --fix

feat: adding contact update
  README.md
  src/service/contact.test.ts
  src/service/contact.ts
  src/types/contact.ts
Due: yarn prettier --write, yarn eslint --fix

Notes added by 'git notes add'
  5c51edd1537626f3452e57f1cd63d9ecf55cb8f4
Due: none

fix: adding custom fields
  src/types/contact.ts
  src/types/salesOrder.ts
Due: yarn prettier --write, yarn eslint --fix

Notes added by 'git notes add'
  2f1e96da823f52b2727a018679838c2a0f3b6956
Due: none

fix: Document document_id type changed to string
  src/types/document.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added custom_fields prop to Package
  src/types/package.ts
Due: yarn prettier --write, yarn eslint --fix

fix: adding refund_status type to salesorder model
  src/types/salesOrder.ts
Due: yarn prettier --write, yarn eslint --fix

Notes added by 'git notes add'
  eaf24e41f391e59e606eeef6877ab78c47f97c48
Due: none
